body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url(img/STARBUCKS\ mockup____.jpeg);
}
/* header {
    background-color: #00704A;
    color: #fff;
    padding: 20px;
    text-align: center;
} */

main {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-form {
    max-width: 300px;
    width: 100%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: hsl(0, 0%, 100%);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    opacity: 1;

}

.login-form:hover{
    box-shadow: 0 5px 10px rgb(51, 51, 51);
}

.input-field {
    position: relative;
    border-bottom: 2px solid #00704A;
    margin: 15px 0;
}

.input-field label {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    color: #000000;
    font-size: 16px;
    pointer-events: none;
    transition: 0.15s ease;
}

.input-field input {
    width: 100%;
    height: 20px;
    margin-bottom: 0;
    background: transparent;
    border: none;
    outline: none;
    font-size: 16px;
    color: #000000;
}

.input-field input:focus ~ label,
.input-field input:valid ~ label {
  font-size: 0.8rem;
  top: 10px;
  transform: translateY(-120%);
}

form {
    display: flex;
    flex-direction: column;
}

input, button {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #00704A;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #005A3C;
}
